.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.profile-button:active {
  transform: scale(0.95);
}

.divOnclick{
  height: 60px;
  gap: 2px;
  border: 1px solid black;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border-color: transparent;
  margin: 3vh;
}
.divOnclick:hover{
  background-color: rgba(113, 109, 109, 0.5);
  cursor: pointer;
  scale: 1.009;
  box-shadow: 0 0 20px rgba(96, 93, 93, 0.5) ;
}
@import "tailwindcss";